.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drums-container {
    background-image: url(/images/640F5D5A-525F-4E67-A58D-3A8968063117_1_201_a.jpeg);
    background-size: cover;
    padding: 1em;
}

.keys {
    display: flex;
    flex-direction: row;

}

.key {
    height: 11vmin;
    width: 9vmin;
    border-radius: 5px;
    background-color: black;
    opacity: 0.7;
    display: inline-block;
    margin: 2vmin;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.7s;
    overflow: hidden;


    h1 {
        color: white;
        font-size: 2vmax;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    p {
        font-size: 0.7vmax;
        color: #E2C044;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
        margin: 3px 0;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
    }
}


.playing {
    transform: scale(1.1);
    border: 1px solid #E2C044;
    box-shadow: 0 0 10px #E2C044;

}