

    .gallery-panels {
      min-height: 90vh;
      overflow: hidden;
      display: flex;
    }

    .gallery-panel {
      color: #854c41;
      background-size: cover;
      background-position: center;
      text-align: center;
      align-items: center;
      display: flex;
      flex: 1;
      /*all the items will be distributed evenly on the screen */
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11)
        background 0.2s;
    }

    .gallery-panel-1 {
      background-image: url(../images/morisot-2.jpg);
    }

    .gallery-panel-2 {
      background-image: url(../images/morisot-1.jpg);
    }

    .gallery-panel-3 {
      background-image: url(../images/morisot-4.jpeg);

      @include xs{
        display: none;
      }
    }

    .gallery-panel-4 {
      background-image: url(../images/morisot-5.jpeg);

      @include xs{
        display: none;
      }
    }

    /* flex-children */

    .gallery-panel>* {
      margin: 0;
      width: 100%;
      transition: transform 0.5s;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* when the panel is active we give it a class open, the text and image go bigger */
    .gallery-panel.open {
      flex: 5;
     
    }

    .white-background {
      background: rgba(255, 255, 255, 0.5);
      letter-spacing: 5px;
      font-size: 1rem;
    }

    /* to hide and show the top and bottom text o the panels */

    .gallery-panel>*:first-child {
  
      transform: translateY(-100%);
    }



    .gallery-panel>*:last-child {

      transform: translateY(100%);
    }

    .gallery-panel.open-active>:first-child
    {
 
      transform: translateY(0);
    }

    .gallery-panel.open-active>:last-child {
 
      transform: translateY(0);
    }

    
    