.main-container {


    .reverse {
        @include lg {}
    }



    .project {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
        margin-bottom: 4em;
        overflow-x: hidden;

        @include md {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }



    }


    .project-text {
        font-family: $main-font;
        color: white;
        line-height: 2;
        letter-spacing: 3px;
        text-align: center;
        font-size: 13px;
        font-weight: lighter;


        @include lg {
            text-align: left;
            margin-bottom: 15vh;
        }


    }

    .text-left {
        text-align: center;

        @include lg {
            text-align: right;
        }
    }

    .text-dark {
        color: black;
    }

    .item {
        background-color: black;
        width: 350px;
        height: 350px;
        clip-path: circle(40%);
        margin-bottom: 15vh;
        margin-top: 2em;
        justify-self: center;
        align-self: center;
        overflow-x: hidden;

        @include md {
            margin-top: 10em;
        }

        @include lg {
            margin-top: 0;
        }



        img {
            width: 100%;
            /*container height - (border thickness * 2) */
            height: 100%;
            object-fit: fill;

        }

    }
}