.main-container {


    .reverse {
        @include lg {}
    }



    .project {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));



        @include lg {}

    }


    .project-text {
        font-family: $main-font;
        color: white;
        line-height: 2;
        letter-spacing: 3px;
        text-align: center;
        font-size: 13px;
        font-weight: lighter;
        align-self: flex-end;
        justify-self: flex-end;

        @include lg {
            text-align: left;
            margin-bottom: 15vh;
        }


    }

    .text-left {
        text-align: center;

        @include lg {
            text-align: right;
        }
    }

    .text-dark {
        color: black;
    }

    .item {
        background-color: black;
        width: 350px;
        height: 350px;
        clip-path: circle(40%);
        justify-self: center;
        align-self: center;
        margin-bottom: 15vh;
        margin-top: 2em;




        img {
            width: 100%;
            /*container height - (border thickness * 2) */
            height: 100%;
            object-fit: fill;

        }

    }
}